:root {
    --bg: #F5F9FF;
    --text: #282828;
    --red: #FF0000;
    --c1: #315EFB;
    --c2: #898889;
    --border: #9797A3;

    // btn
    --btn-s1: #97aefd;
    --btn-s1-h: #315EFB;
    --btn-s2: #315EFB;
    --btn-s2-h: #1841d3;
}